<h1><b>TEST PRACTICE BI ANALYST</b></h1>
<br>
<h2>SQL AND PYTHON TECHNICAL KNOWLEDGE</h2>

Installing psycopg2 for postgres connection

In [6]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\roger\anaconda3\lib\site-packages (2.8.6)

<h3> Connection PostgreSQL Database From Python </h3>

In [1]:
#importar librerías
import psycopg2
from psycopg2 import Error


def connectPosgreSQL():
    try:
        connection = psycopg2.connect(user="postgres",
                                      password="1020",
                                      host="127.0.0.1",
                                      port="5432",
                                      database="COBRANDO")
        return connection
    except (Exception, Error) as error:
        print("Error while connecting to PostgreSQL", error)
        return None

def closePosgreSQL(connection):
    if (connection):
        connection.close()
        print("PostgreSQL connection is closed")

The next cell shows a Script with PostgreSQL sentences for create database,  however if you want visualize the SQL scripts, you should click here <a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/sentences.sql">Script SQL</a>

In [108]:

def readSQLDatabase(c):
    b= True
    fd = open('sentences.sql', 'r')
    sqlFile = fd.read()
    fd.close()
    sqlFile=sqlFile.replace('\n',"")
    sqlFile=sqlFile.strip()
    sqlCommands = sqlFile.split(';')
    cursor = c.cursor()
    for command in sqlCommands:
        if(len(command)>0):
            try:
                cursor.execute(command)
                connection.commit()
            except (Exception, Error) as a :
                b=False
                print ("Command skipped: ", a)       
    if(b):
        print("Script has been executed successfully!!")
connection=connectPosgreSQL()
readSQLDatabase(connection)
closePosgreSQL(connection)

Script has been executed successfully!!
PostgreSQL connection is closed

<h3>Reading csv and Excel Files</h3>

In [1]:
import pandas as pd


asesores=pd.read_excel('asesores.xlsx')
asignacion=pd.read_excel('Asignacion.xlsx')
gestiones=pd.read_excel('Gestiones.xlsx')
tipologias=pd.read_excel('tipologias.xlsx')
pagos=pd.read_csv('pagos.csv',delimiter=";")
gestiones.head()

   idgestion hora gest fecha gestion  cod tipologia  id asesor     deudor
0          1  08:58:43    2020-10-05             27  539509639  668742401
1          2  17:49:25    2020-11-24             28  777090419  651598748
2          3  16:49:39    2020-10-02             25  312744337  588294768
3          4  13:53:42    2020-10-25             27  409035352  941103864
4          5  11:01:32    2020-10-16             23  914695961  668742401

Load information from tipologias.xlsx file to Tipologias Table database

In [109]:
def insertTipologias(c):
    for row in range(len(tipologias)):
        lineRow=tipologias.iloc[row]
        insert_query_topologias = """ INSERT INTO TIPOLOGIAS (cod_tipo , tipologia , contactibilidad,efectividad ) VALUES (%s,%s,%s,%s)"""
        tuple_data=(int(lineRow["cod"]),lineRow["tipologia"],lineRow["contactabilidad"],lineRow["efectividad"])
        print(tuple_data)
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_topologias,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)  
            
connection=connectPosgreSQL()            
insertTipologias(connection)
closePosgreSQL(connection)

(20, 'COMPROMISO', 'CONTACTO', 'EFECTIVA')
(21, 'SEGUIMIENTO', 'CONTACTO', 'NO EFECTIVA')
(22, 'PRESION', 'CONTACTO', 'NO EFECTIVA')
(23, 'YA PAGO', 'CONTACTO', 'NO EFECTIVA')
(24, 'NO PAGA', 'CONTACTO', 'NO EFECTIVA')
(25, 'MENSAJE', 'NO CONTACTO', 'NO EFECTIVA')
(26, 'NO CONTESTA', 'NO CONTACTO', 'NO EFECTIVA')
(27, 'NUMERO EQUIVOCADO', 'NO CONTACTO', 'NO EFECTIVA')
(28, 'MESAJE EN BUZON', 'NO CONTACTO', 'NO EFECTIVA')
(29, 'NO CONTACTADO', 'NO CONTACTO', 'NO EFECTIVA')
(30, 'NORMALIZADO', 'NO CONTACTO', 'NO EFECTIVA')
PostgreSQL connection is closed

Load information in Unidades table

In [110]:
def insertUnidades(c):
    insert_query_Unidad1 = """ INSERT INTO UNIDADES (id_unidad  ,nombre_unidad  , estado ) VALUES (1,'Unidad 1','estado1')"""
    insert_query_Unidad2 = """ INSERT INTO UNIDADES (id_unidad  ,nombre_unidad  , estado ) VALUES (2,'Unidad 2','estado2')"""
    try:
        cursor = c.cursor()
        cursor.execute(insert_query_Unidad1)
        c.commit()
        cursor.close()
        
        cursor = c.cursor()
        cursor.execute(insert_query_Unidad2)
        c.commit()
        cursor.close()
        
    except (Exception, Error) as error :
        print ("Command skipped: ", error) 
connection=connectPosgreSQL()         
insertUnidades(connection)
closePosgreSQL(connection)

PostgreSQL connection is closed

Load information in ASESORES table from asesores.xlsx file.

In [111]:
def insertAsesores(c):
    for row in range(len(asesores)):
        lineRow=asesores.iloc[row]
        insert_query_asesores = """ INSERT INTO ASESORES (identificacion,nombre,fecha_ingreso,estado,id_unidad) VALUES (%s,%s,%s,%s,%s)"""
        tuple_data=(int(lineRow["asesor id"]),lineRow["nombre"],"01/01/2021","estado",int(lineRow["unidad id"]))
        print(tuple_data)
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_asesores,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)  
            
connection=connectPosgreSQL()            
insertAsesores(connection)
closePosgreSQL(connection)

(539509639, 'Luciana Gómez', '01/01/2021', 'estado', 1)
(777090419, 'Isabella López', '01/01/2021', 'estado', 1)
(312744337, 'Salomé González', '01/01/2021', 'estado', 1)
(409035352, 'Antonella García', '01/01/2021', 'estado', 1)
(914695961, 'Mariana Martínez', '01/01/2021', 'estado', 1)
(114491511, 'Gabriela Ramírez', '01/01/2021', 'estado', 1)
(444605412, 'Mariangel Sánchez', '01/01/2021', 'estado', 1)
(38538369, 'Celeste Hernández', '01/01/2021', 'estado', 1)
(75650634, 'Samantha Díaz', '01/01/2021', 'estado', 1)
(830402465, 'Victoria Pérez', '01/01/2021', 'estado', 1)
(765998405, 'María José Torres', '01/01/2021', 'estado', 1)
(720590845, 'Dulce María Rojas', '01/01/2021', 'estado', 1)
(882660630, 'María Celeste Vargas', '01/01/2021', 'estado', 1)
(503540252, 'Sara Sofía Moreno', '01/01/2021', 'estado', 1)
(820301510, 'María Paula Gutiérrez', '01/01/2021', 'estado', 1)
(831127018, 'Emily Sofía Jiménez', '01/01/2021', 'estado', 2)
(617143493, 'María Victoria Muñoz', '01/01/2021', 'estado', 2)
(239493954, 'María Fernanda Castro', '01/01/2021', 'estado', 2)
(631522950, 'Luisa Fernanda Ortiz', '01/01/2021', 'estado', 2)
(294861619, 'Sara Valentina Álvarez', '01/01/2021', 'estado', 2)
(585177159, 'Juan José Ruiz', '01/01/2021', 'estado', 2)
(590324770, 'Miguel Ángel Suárez', '01/01/2021', 'estado', 2)
(345613634, 'Juan Sebastián Romero', '01/01/2021', 'estado', 2)
(950520692, 'Samuel David Herrera', '01/01/2021', 'estado', 2)
(750359384, 'Juan David Valencia', '01/01/2021', 'estado', 2)
(292948720, 'Juan Pablo Quintero', '01/01/2021', 'estado', 2)
(163274657, 'Juan Diego Restrepo', '01/01/2021', 'estado', 2)
(198789391, 'Angel David Giraldo', '01/01/2021', 'estado', 2)
(250317869, 'Juan Esteban Morales', '01/01/2021', 'estado', 2)
(134702809, 'Andrés Felipe Mejía', '01/01/2021', 'estado', 2)
PostgreSQL connection is closed

Load Gestiones.xlsx file in Gestiones table and get id of deudor from Gestiones.xlsx inserting in table deudor using Python.

In [157]:
import numpy as npLoad Gestiones.xlsx file in Gestiones table and get id of deudor from Gestiones.xlsx inserting in table deudor using Python.

def insertDeudores(c,id_deudor):
    id_deudor=id_deudor.drop_duplicates()
    id_deudor=id_deudor.sort_values()    
    num=1
    for row in id_deudor:
        insert_query_deudores = """ INSERT INTO DEUDORES (identificacion,nombre,estado) VALUES (%s,%s,%s)"""
        tuple_data=(int(row),"nombre"+str(num),"estado2"+str(num))  
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_deudores,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)
        num=num+1

def insertGestiones(c):
    id_deudor=gestiones["deudor"]
    insertDeudores(c,id_deudor)
    #tuples = [tuple(x) for x in gestiones.to_numpy()]
    for row in range(len(gestiones)):
        lineRow=gestiones.iloc[row]
        insert_query_gestiones = """ INSERT INTO GESTIONES (id_gestion,identificacion_asesor,fecha_gestion,identificacion_deudor,tipo_gestion) VALUES (%s,%s,%s,%s,%s)"""
        dataTime=str(lineRow["fecha gestion"]).split(" ")[0]+" "+str(lineRow["hora gest"])
        tuple_data=(int(lineRow["idgestion"]),int(lineRow["id asesor"]),dataTime,int(lineRow["deudor"]),int(lineRow["cod tipologia"]))
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_gestiones,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)  
    
            
connection=connectPosgreSQL()            
insertGestiones(connection)
closePosgreSQL(connection)

PostgreSQL connection is closed

Load Pagos.csv file in Pagos table and get id of obligaciones from Pagos.csv inserting in table Pagos using Python.

In [168]:
import numpy as np
import pandas as pd

def insertObligaciones(c,id_obligacion):
    id_obligacion=id_obligacion.drop_duplicates()
    id_obligacion=id_obligacion.sort_values()    
    num=1
    for row in id_obligacion:
        insert_query_obligaciones = """ INSERT INTO OBLIGACIONES (obligacion,estado) VALUES (%s,%s)"""
        tuple_data=(int(row),"estado"+str(num))  
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_obligaciones,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)
        num=num+1

def insertPagos(c):
    id_obligacion=pagos["obligacion"]
    insertObligaciones(c,id_obligacion)
    #tuples = [tuple(x) for x in gestiones.to_numpy()]
    for row in range(len(pagos)):
        lineRow=pagos.iloc[row]
        insert_query_pagos = """ INSERT INTO PAGOS (obligacion,valor,fecha) VALUES (%s,%s,%s)"""
        dateObl=lineRow["fecha"].split("/")
        
        tuple_data=(int(lineRow["obligacion"]),float(lineRow["valor pago"]),dateObl[2]+"-"+dateObl[1]+"-"+dateObl[0])
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_pagos,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)  
    
            
connection=connectPosgreSQL()            
insertPagos(connection)
closePosgreSQL(connection)

PostgreSQL connection is closed

Insert Asignaciones.xlsx file in Asignaciones table, insert missing data in Obligaciones table and data for clientes table.

In [12]:
import traceback
def insertClientes(c,id_cliente):
    id_cliente=id_cliente.drop_duplicates()
    id_cliente=id_cliente.sort_values()    
    num=1
    for row in id_cliente:
        insert_query_clientes = """ INSERT INTO CLIENTES (identificacion,nombre,fecha_registro,estado) VALUES (%s,%s,%s,%s)"""
        tuple_data=(int(row),"nombre"+str(num),"2020-12-21","estado"+str(num))  
        try:
            cursor = c.cursor()
            cursor.execute(insert_query_clientes,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            print ("Command skipped: ", a)
        num=num+1

def insertObligacionesAsig(c,id_obligacion):
    id_obligacion=id_obligacion.drop_duplicates()
    id_obligacion=id_obligacion.sort_values()    
    num=1
    for row in id_obligacion:
        insert_query_obligaciones = """ INSERT INTO OBLIGACIONES (obligacion,estado) VALUES (%s,%s)"""
        tuple_data=(int(row),"estado"+str(num))  
        try:
            c.rollback()
            cursor = c.cursor()
            cursor.execute(insert_query_obligaciones,tuple_data)
            c.commit()
            cursor.close()
        except (Exception, Error) as a :
            c.rollback()
            c.commit()
        num=num+1

def insertAsignaciones(c):
    id_clientes=asignacion["identificacion"]
    #insertClientes(c,id_clientes)
    id_obligacion=asignacion["obligacion"]

    insertObligacionesAsig(c,id_obligacion)
    closePosgreSQL(c)
    c=connectPosgreSQL()
    num=1
    for row in range(len(asignacion)):
        lineRow=asignacion.iloc[row]
        insert_query_asignacion = """ INSERT INTO ASIGNACIONES (identificacion,obligacion,saldo_capital,saldo_actual,saldo_mora,dias_mora,agencia,fecha_asignacion,etapa,tipo,codigo) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
        dateAsig=str(lineRow["fecha asignacion"]).split(" ")[0]
        tuple_data=(int(lineRow["identificacion"]),int(lineRow["obligacion"]),float(lineRow["valor capital"]),float(lineRow["valor actual"]),float(lineRow["valor en mora"]),int(lineRow["dias mora"]),lineRow["agencia"],dateAsig,lineRow["etapa"],lineRow["tipo"],lineRow["codigo"])
        print(tuple_data)
        #if(row==1):
        #    break
        try:
            c.rollback()
            cursor = c.cursor()
            cursor.execute(insert_query_asignacion,tuple_data)
            c.commit()
            cursor.close()
        except Exception as exc:
            c.rollback()
            print ("Command skipped: ", exc)
            c.commit()
            

    
            
connection=connectPosgreSQL()

insertAsignaciones(connection)
closePosgreSQL(connection)
print("Asignaciones has been inserted succesfully!!")

Asignaciones has been inserted succesfully!!

,id,identificacion,obligacion,codigo,etapa,tipo,dias mora,valor en mora,valor capital,valor actual,agencia,fecha asignacion,cod prof
0,100,668742401,1023456789,PPTX,NUEVO,CREDIT,31,68628135,43162059,18678644,COBRANDOBPO,2020-12-09,NaN
1,100,651598748,1023456790,PPTX,NUEVO,CREDIT,203,52962446,89081492,4364931,COBRANDOBPO,2020-12-09,NaN
2,100,588294768,1023456791,PPTX,NUEVO,CREDIT,163,47926889,65037426,58188654,COBRANDOBPO,2020-12-09,NaN
3,100,941103864,1023456792,PPTX,NUEVO,CREDIT,66,60272778,89600725,61034657,COBRANDOBPO,2020-12-09,NaN
4,100,668742401,1023456793,PPTX,NUEVO,CREDIT,150,75232620,44237493,5580279,COBRANDOBPO,2020-12-09,NaN

#     INFORMES BI - GOOGLE DATA STUDIO

A continuación se muestran los siguientes informes generados con Google Data Studio:
<ul>
  <li>Tendencias de pago por meses</li>
  <li>Mapa de calor por horas de gestión</li>
  <li>Cantidad de gestiones por asesor</li>
  <li>Cantidad de clientes deudores por asesor</li>
</ul>

Para la entrega de los informes se visualiza el enlance en formato pdf y el link del informe en Google Data Studio.


<table class="table table-condensed">
    <tbody>
        <tr>
            <th><center>Informe</center></th>
            <th><center>Enlace Pdf</center></th>
            <th><center>Enlace Google Data Studio</center></th>
        </tr>
        <tr>
            <th><center>Tendencias de pago por meses</center></th>
            <th><center><a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/Informes/Informe_Tendencia_Pago_Por_Meses.pdf">Pdf Tendencia Por Meses</a></center></th>
            <th><center><a href="https://datastudio.google.com/reporting/ac982a5d-78a2-4931-91bd-3214a2e2b7ff">Data-Studio Tendencia Por Meses</a></center></th>
        </tr>
        <tr>
            <th><center>Mapa de calor por horas de gestión</center></th>
            <th><center><a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/Informes/Heat_Map_Por_Horas.pdf">Pdf Mapa de calor</a></center></th>
            <th><center><a href="https://datastudio.google.com/reporting/9c473b92-1ae7-4f98-8bf0-0294f5ab9c24">Data-Studio Mapa de Calor</a></center></th>
        </tr>
        <tr>
            <th><center>Cantidad de gestiones por asesor</center></th>
            <th><center><a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/Informes/Cantidad_de_Gestiones_Por_Asesor.pdf">Pdf Gestiones Por Asesor</a></center></th>
            <th><center><a href="https://datastudio.google.com/reporting/a2ff327a-0daa-419b-8fcf-bf4f21225247">Data-Studio Gestion Por Asesor</a></center></th>
        </tr>
        <tr>
            <th><center>Cantidad de clientes deudores por asesor</center></th>
            <th><center><a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/Informes/Cantidad_Deudores_Por_Asesor.pdf">Pdf Cantidad Deudores Por Asesor</a></center></th>
            <th><center><a href="https://datastudio.google.com/reporting/9ce28429-0e8c-45c9-b07c-41b96773c0bd">Data-Studio Deudor Por Asesor</a></center></th>
        </tr>
    </tbody>     
</table>

# Prueba básica de análisis de información (SQL)

Diseñe un mapa de calor por fecha e intervalo de hora teniendo en cuenta la información de la tabla gestiones.

<a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/Informes/HeatMap_Fecha_%26_Hora.pdf">Pdf Mapa de Calor Fecha-Hora</a>
<br>
<a href="https://datastudio.google.com/reporting/a294a3fe-752e-42e6-a6d0-9cd57d2cd050">Google Data-Studio Mapa de Calor Fecha-Hora</a>

Diseñe un query el cual le permita observar por asesor la mejor gestión por día, basado en las tablas de gestión y tipologías, teniendo en cuenta que el ranking es de menor a mayor en la tabla tipologías

In [11]:
'''
select  g.identificacion_asesor,
date_part('year',g.fecha_gestion) as anio,
date_part('month',g.fecha_gestion) as mes,
date_part('day',g.fecha_gestion) as dia,
max(g.tipo_gestion) as best_ranking,
(select tipologia from tipologias where cod_tipo=max(g.tipo_gestion)) as description
from gestiones g
group by g.identificacion_asesor,anio,mes,dia
order by g.identificacion_asesor,anio,mes,dia
'''
''''''

''

The output generated by this SQL query is shown <a href="https://github.com/roheru/DatabasePosgres-Google/blob/main/Informes/DataQuery.csv">(Here - CSV File)</a>